html{
    height:-webkit-fill-available
}
*{
    font-family: 'Mina', sans-serif;
}
body{
    margin:0;
    padding:0;
    height:-webkit-fill-available
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: Poiret_One;*/

    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #EBECF0;
}
#navbar-container{
    width:100%;
    position:fixed;
    z-index:999;
}
.card-img-top{
    height: 10rem;
}
.message{
    background-color: rgba(9, 170, 92, 0.3);
    padding: 12px;
    margin:8px;
    border: solid 1px rgba(9, 170, 92, 1);
    border-radius: 6px;
}
.remember-class{
    display: flex;
    justify-content: space-between;
}
.navbar{
    background-color:#4C4E52;
}
.nav-item:hover{
    color: rgba(9, 170, 92, 1)
}
.nav-item a{
    font-size: 12px;
    text-transform:uppercase;
}
.section-cover{
    background-color: rgba(9, 170, 92, 0.5);
    height: 300px;
}
.body-section{
    margin-top:80px;
}
.term-container h3{
   color:#09AA5C;
   font-weight:bold;
}
.mysection{
    background-image:url("images/home.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding:0;
    margin-top: 80px;
}
.about-section{
    background-image:url("images/vision.jpeg");
    background-size: cover;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
    height:300px;
    padding:0;
    margin-top: 80px;
}
.upper-section{
    background-image:url("images/money.jpeg");
    background-size: cover;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
    height:300px;
    padding:0;
    margin-top: 80px;
}
.downloads-upper-section{
    background-image:url("images/forms.jpeg");
    background-size: cover;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
    height:300px;
    padding:0;
    margin-top: 80px;
}
.members-section{
    background-image:url("images/members.jpeg");
    background-size: cover;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
    height:300px;
    padding:0;
    margin-top: 80px;
}
.contact-section{
    background-image:url("images/contact.jpeg");
    background-size: cover;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
    height:300px;
    padding:0;
    margin-top: 80px;
}
.membership-services-section{
    background-image:url("images/service.jpeg");
    background-size: cover;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
    height:300px;
    padding:0;
    margin-top: 80px;
}
.location-container{
    display:flex;

}
.guarantee-container{
    display:flex;
    justify-content:center;
    margin-bottom: 12px;
}
.guaranteed-sub-container{
    width: 200px;
    margin: 0 12px;
    padding:12px;
    background-color:rgba(9, 170, 92, 1);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
/*.file-uploader{
    height: 120px;
    background-color: rgba(9, 170, 92, 0.2);
    border: dashed 1px rgba(9, 170, 92, 1);
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 12px;
    border-radius: 8px;
}*/
.downloads-main-container{
    display:flex;
}
.downloads-container{
    width: 60%;
    margin:12px;
}

.join-container{
    width: 40%;
    background-color: rgba(9, 170, 92, 0.1);
    margin:12px;
    padding: 12px;
}
.location-section{
    padding:12px 0;
}
.service-container{
    background-color: rgba(9, 170, 92, 0.1);
    padding: 12px 0;
}

.beginings-container{
    /*background-color: rgba(9, 170, 92, 0.1);*/
    padding: 12px;
}
.values-container{
    background-image:url("images/sacco-banner.jpeg");
    background-size: cover;
    text-align:center;
    background-repeat: no-repeat;
    background-position: center center;
   /* height:300px;*/
    padding:0;
    /*margin-top: 80px;*/

}
.values-info-container{
    background-color:rgba(9, 170, 92, 0.9);
    text-align:left;
}
.mission-img{
    display:flex;
    align-items: center;
}
.mission-img img{
    height:360px;
    margin-right:12px;
}
.location-info p{
    font-size:18px;
}

.img-container{
    margin-right: 12px;
}
/*.img-container img{
    height:240px;
}*/
.about-section h2{
    text-align:center;

}
.container-fluid. carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center align items */
    justify-content: center; /* Vertically center align items */
    text-align: center; /* Center-align text within the div */
}
.why-section{
    background-color: rgba(9, 170, 92, 0.1);
    height: auto;
}
.reviews-section{
    height:300px;
}
.why-container{
    padding:12px;
    margin: 12px auto;
    display:flex;
    justify-content:center;
}
.why-container img{
    width: 40%;
    height: 240px;
}
.why-list-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.why-list-container ul li{
    text-align: left;
    font-size: 18px;
    list-style-type: '✅';
    padding-inline-start: 1ch;
}
.carousel-inner {
    width:40%;
    position: relative;
    left:30%;
    height: 480px;
}

.carousel-inner .carousel-item{
    height: 480px;
}
#carouselExampleDark .carousel-inner{
    height:280px;
}
#carouselExampleDark .carousel-inner .carousel-item{
    height: 240px;
}
.carousel-item img{
    width: 100%;
    height:100%;
}
/*.carousel-item:nth-child(3) img{
        height: 300px;
        position: relative;
        right: calc(50% - 330px);
}*/
.carousel-inner .title{
    display:flex;
    justify-content:center;
}
.carousel-inner .carousel-item .img{
    display:flex;
    justify-content:center;
}
.carousel-inner .subheading{
    display:flex;
    justify-content:center;
}
.title{
    display:flex;
    justify-content:center;
    padding:80px 12px;

}
.title h2{
    text-transform: uppercase;
    font-weight:bold;
    font-size:36px;
    text-align:center;

}
.subheading p{
    font-size:24px;
}
.information-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
}
.carousel-caption{
    padding-bottom:25%;
}
.carousel-caption p{
    text-align:justify;
    font-family: 'Mina', sans-serif;

}
.client-footer{
    background-color:#012b17;
}
.heading {
    text-transform:uppercase;
    font-weight:bold;
    font-size:18px;
    color:#09AA5C;
}
.information{
    text-align:justify;
}
.information h5{
    font-weight:bold;
    color:#09AA5C;
}
.fa-question-circle-o{
    font-size:128px;
    color:#09AA5C;
}
.card{
    width:18rem;
    padding:12px;
}
.card-body .card-text{
    text-align:justify;
}

.services-section{
    margin: 24px auto;
    display:flex;
}
.services-pair{
    width:50%;
    display:flex;
}
.services-section .card{
    margin: 6px 12px;
}
.services-section .card i{
    font-size:80px;
    color: #09AA5C;
}
.account-container{
    width: 40%;
    position:relative;
    left:30%;
    top: 80px;
    /*border: solid 1px black;*/
    border-radius:10px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}
.forgot-btn{
    background-color:white;
    color: #09AA5C;
    border: solid 1px #09AA5C;
    border-radius: 4px;
    padding: 2px 16px;
    font-size:14px;
    font-weight:bold;
}
/* Style the sidebar */
.sidebar-container { /* Minimum height calculation */
    /*flex-basis: 20%; /* Set a fixed width for the sidebar */
    background-color:#198754;
    /*padding: 20px;*/

}
/* Style the main content */
.my-section {
    min-height: calc(100vh-80px); /* Minimum height calculation */
    flex-grow: 1; /* Allow main content to grow and fill available space */
    background-color: #fff;
    padding: 20px;
    overflow-y: auto; /* Add a scrollbar if content overflows */
    width: 80%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button a{
    background-color: #fff;
    color: #09AA5C;
    border:none;
}
.dataTables_wrapper .paginate_button.next a, .paginate_button.previous a{
    box-shadow:none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.active a{
    background-color: #09AA5C;
    color:#fff;
    box-shadow:none;
    border-radius:48px;
    font-size:12px;
}
.repayment-item {
    margin:0 12px;
    background-color: #09AA5C;
    border-radius: 5px;
    display:flex;
    justify-content:space-between;
    padding: 8px;

}
.mycards-section{
    width:100%;
    margin-top: 8px;
}
.myrow{
    display:flex;
}
.flash-item{
    background-color:#09AA5C;
    text-decoration:none;
    cursor:pointer;
    padding: 8px;
    border-radius:6px;
    margin:8px;
    width: -webkit-fill-available;
    display:flex;
    justify-content:space-between

}
.button-class{
    display:flex;
    justify-content: space-between;
}
.item{
    background-color:#09AA5C;
    padding: 8px;
    border-radius:6px;
    margin:8px;
    height:100px;
    width: -webkit-fill-available;
    display:flex;
    justify-content:space-between
}
.item .col{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.item-icon{
    display:flex;
    justify-content:center;
    align-items:center;
}
.item-icon i{
    font-size: 48px;
    color: #fff;
}
.flash-item .material-symbols-outlined{
    font-size: 48px;
    color: #fff;
}
.item span{
    font-size:12px;
}
.flash-item-text{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.repayment-container .btn{
    margin:0 12px;
    border-radius: 24px;
    background-color:white;
    color: #09AA5C;
    border: 1px solid #09AA5C;
}
.repayment-item span{
    color: white;
    margin:0 8px;
}
.navbar{
    height: 80px;
}

.menu-toggler{
    display:none;
    height:24px;

}

.menu-item{
    width: 20px;
    height:2px;
    margin: 5px;
    background: #fff;
    display:block;
}
.totals{
    display:flex;
    justify-content:center;
}
.contribution-box{
    margin: 12px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color:#09AA5C;
    justify-content:space-around;
}
.contribution-box span{
    margin:2px;
    color:white;
    font-size: 16px;
    font-weight:bold;
}
.contribution-btn .contrib-btn{
    background-color:white;
    color:#09AA5C;
    border-radius:20px;
}
.footer{
    position:sticky;
    bottom:0;
    text-align:center;
}
.nav-link{
    color:#fff
}
.col-sm{
    background-color: #09AA5C;
}
.col-sm-2 .fa{
    color: #09AA5C;
}
.col-sm-10 h6{
    color: #fff;
}
.navbar-brand a{
    text-decoration:none;
    font-size:24px;
    font-weight:bold;
}
.reg-form-container{
    border-radius:8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}
.page-title {
    background-color:rgba(9, 170, 92, 1);
    border-radius: 6px;
    height: 80px;
    display:flex;
    justify-content:center;
    margin:12px;
    margin-top:16px;
}
.page-title span{
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
}
.contribution-card{
    background-color: #09AA5C;
    display: flex;
    margin: 8px;
    padding: 12px;
    height: 120px;
    align-items: center;
}
.contribution-card i{
    font-size: 64px;
}
.contribution-detail{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height:100%;
}
.detail-table-area{
    height:auto;
}
.spinner-border{
    width:15px;
    height:15px;
}
.sidebar{
    height:100vh;
}

.sidebar-item{
    background-color: #198754;
}
.sidebar-item:hover{
    background-color:#09AA5C;
    transition: all 0.3s;
}
.sidebar-item px-2{
    align-items:center;
}
.logoutBtn{
    position:absolute;
    bottom:2px;
    width:20%;
}
.left-icon{
    width:36px;
    height:36px;
}
.selection{
    width:100%;
}
.btn{
    width:auto;
    background-color:#09AA5C;
    border: 1px solid #09AA5C;
    color: white;
}
.btn:hover{
    background-color:#198754;
    border-color:#198754;
    color:white;
}
.btn:active{
    background-color:#198754;
    border-color:#198754;
    color:white;
}
.contribution-card span{
    font-weight: bold;
}

.table-area{
    height:auto;
}
.main-body{
    height: auto;
}
.reg-main{
    height:auto;
}
.add-contribution-main{
    height:auto;
}
.card-holder{
    display:flex;
    padding:0 4px;
}
.table{
    width:100%;
}
.members-table-area, .contribution-table-area{
    height:auto;
}
.applied-table-area{
    height:auto;
}
.row-scoped{
    width: 30%;
}
.details-main-section{
    height:auto;
}
.charts-row{
    display:flex
}
.heading-box{
    text-align:center;
}
.term-container h3{
    text-align:center;
}
.loan-item-container{
    display:flex;
    justify-content: center;
}
.loan-item-container .sub-loan-item-container{
    display:flex;
    justify-content: space-between;
}
.loan-item{
    width: 120px;
    margin: 12px;
    text-align:center;
}

.loan-item p{
    font-size: 18px;
    font-weight:bold;
    color: #09AA5C;
}
.loan-item .icon{
    height:120px;
    border-radius: 60px;
    background-color:#09AA5C;
    display:flex;
    justify-content: center;
    align-items:center;
}
.loan-item .icon i{
    font-size: 64px;
    color:white;
}
.individual-container, .group-container, .corporate-container{
    display:flex;
}
.membership-container{
    display: flex;
}
.membership-image-container img{
    width:400px;
}
.membership-image-container{
    margin-right: 12px;
}

.requirement-container{
    margin: 12px;
    display:flex;
    width:50%;
    /*border: solid 1px;
    border-color:#09AA5C;*/
    border-radius: 12px;
    padding: 6px;
}

.group .requirement-container:nth-child(6){
    border:none;
}


.icon-container{
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.icon-container i, .material-symbols-outlined{
    font-size: 120px;
    color:#09AA5C;
}
.short-term-loans{
    display:flex;
}
.loan-type-container{
    display:flex;
    margin-right: 12px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);*/
    border-radius:12px;
    background-color: rgba(9, 170, 92, 0.1);
    color:#09AA5C;
    padding:8px;
    width:100%;
    height: 180px;
}
.loan-type-container .icon{
    display: flex;
    justify-content:center;
    align-items:center;
}
.loan-type-container  ul li{
    list-style-type: '✅';
    padding-inline-start: 1ch;
}
.loan-type-container .icon i, material-symbols-outlined{
    font-size: 120px;
}
.loan-type-container p{
    font-size: 16px;
    font-weight: bold;
}
.contact-form-container{
    display:flex;
}
.contact-form-container h2{
    text-transform:uppercase;
    font-weight: 700;
    font-size: 24px;
}
.contact-form-container h3{
    font-size: 20px;
    font-weight: 600;
}
.main-contact-container{
    display-flex;
    margin-bottom:24px;
}
.contact-input-pair{
    display:flex;
}
.contact-info-container{
    width: 40%;
    display:flex;
    flex-direction:column;
}
.contact-info-container a{
    text-decoration:none;
    color: #09AA5C;
}
.contact-input-pair .form-group{
    margin: 12px;
    width: 100%;
}
@media only screen and (max-width:480px){
    .contribution-card{
        margin: 6px;
        padding: 6px;
    }
    .contribution-card span{
        font-size: 12px;
    }

    .services-pair {
        padding-right: 18px;
    }
    .card{
        width:100%;
    }
   .card-img-top {
      height: 8rem;
   }
   .carousel-inner {
        width:60%;
        position: relative;
        left:20%;
    }

    .services-pair {
        display: flex;
        flex-direction:column;
    }
    .icon-container{
        display:none;
    }
    .requirement-container{
        margin:12px 0;
    }

    .guarantee-container{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .guaranteed-sub-container{
        width: 100%;
        margin: 6px 0;
        display: flex;
        flex-direction: row;
        justify-content:space-between
    }


}

@media only screen and (max-width:576px){
    .navbar-brand a{
         text-decoration:none;
         font-size:18px;
    }

    .sidebar, .mysidebar{
        height:auto;

    }
    .sidebar-container{
        display:none;
    }
    .hide-sm{
             display: none;
        }

    .left-icon{
        width: 24px;
        height:24px;
    }
    .card-section{
        margin-top:1rem;
        margin-bottom:1rem;
        display:flex;
    }
    .cards-row{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .col-sm-3{
        width:auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 0.4rem
    }

    .card-item{
        margin-top:1rem;
     }
    .cards-row{
        margin-top:0;
        margin-bottom:0
    }
    .card-text{
        font-size: 12px;
    }
    .one-row-item{
        padding-top:.7rem;
        padding-bottom:.7rem;
    }

    .input-row{
        width:100%;
    }
    .form-container{
        width: 100%;
    }

    .reg-main{
        height:auto;
    }
    .table-responsive-sm tbody tr:nth-child(even){
    	background-color: #f5f5f5;
    }
    .table-responsive-sm {
        display: block;
    }
    .table-responsive-sm thead {
        display: none; /* Hide the table header on small screens */
    }
    .table-responsive-sm tbody tr {
        display: block;
        margin-bottom: 20px; /* Add space between rows */
    }
    .table-responsive-sm tbody td {
        display: block;
    }
    .table-responsive-sm td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left:15px;
        font-size:15px;
        font-weight: bold;
        text-align: left;
    }
    #registration-form{
            justify-content:center;
        }
    .col-md-9{
        margin-top: 12px;
    }
    .input-container{
        display: flex;
        flex-direction:column;
        justify-content-center;
    }

    .reg-main{
        height:auto;
    }
    .page-title p{
        font-size: 24px;
    }
    /*.contribution-card{
        margin: 8px;
        padding: 8px;
    }
    .contribution-card span{
        font-size: 16px;
    }*/

    .reg-form-container{
         width:100%;
         display:flex;
         flex-direction:column;
         justify-content:center;
         box-shadow:none;

     }

     .totals {
         display: flex;
         flex-direction:column;
         justify-content: center;
     }
     .services-section{
        margin: 24px auto;
        display:flex;
    }
    .services-pair{
        width:100%;
        display:flex;
    }
    .carousel-inner {
         width:60%;
         position: relative;
         left:20%;
    }
    .loan-type-container{
        height:200px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contribution-box{
        margin: 4px;
        padding: 10px 4px
        border-radius: 6px;
        background-color:#09AA5C;
        display:flex;
        text-transform:uppercase;
        justify-content: space-between;
    }
    .contribution-box span{
        font-size:14px;
    }
    .img-container{
        margin-right:0;
    }
    .button-class{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .contribution-btn .contrib-btn {
        background-color: white;
        color: #09AA5C;
        border-radius: 20px;
        width:100%;
        margin-top:4px;
    }
    .location-info{
        margin-top: 12px;
    }
    .carousel-item img {
        width: 100%;
        height: 80vw;
    }
    .contribution-btn{
        padding: 0 5px;
    }
    .menu-toggler{
        display:block;
        position: absolute;
        right: 12px;
        top: 22px;
    }
    #registration-form{
        justify-content:center;
    }
    .contribution-card{
        height: 80px;
    }
    .contribution-card i {
        display:none;
    }

    .col-md-9{
        margin-top: 12px;
    }
    .input-container{
        display: flex;
        flex-direction:column;
        justify-content-center;
    }
    .form-container{
        width: 100%;
    }
    .sidebar{
            height:auto;
        }
    .sidebar-container{
            display:none;
        }
    .hide-md{
             display: none;
        }

    .left-icon{
        width: 22px;
        height:22px;
    }

    /*.contribution-card{
        background-color:#09AA5C;
        display:flex;
        flex-direction:column;
        margin: 8px;
        padding: 8px;
    }*/
    .account-container {
        width:90%;
        position:relative;
        left:5%;
    }
    .contribution-card span{
        font-size: 12px;
    }

    .carousel-caption p{
        font-size: 12px;
    }
    .card-item{
        margin-top: 0.2rem;
    }
    .cards-row{
        margin-top:0;
        margin-bottom:0
    }
    .one-row-item{
        padding-top:10px;
        padding-bottom:.5rem;
    }

    .navbar{
        transition: height 1s;
    }
    .table-responsive-sm {
        width:100%;
        display: block;
    }
    .table-responsive-sm thead {
        display: none; /* Hide the table header on small screens */
    }
    .table-responsive-sm tbody{
        width:100%;
    }
    .table-responsive-sm tbody tr {
        display: block;
        margin-bottom: 20px; /* Add space between rows */
    }
    .table-responsive-sm tbody td {
        display: block;
        text-align: left;
        position: relative;
        text-align: left;
        padding-left: 40%;
        font-size: 14px;
    }
    .table-responsive-sm td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        /*width: 50%;*/
        padding-left:15px;
        font-size:15px;
        font-weight: bold;
        text-align: left;
        ont-size: 14px;
    }
    .table-responsive-sm td button{
        display:flex;
        align-self:center;
    }

    .add-contribution-main{
        height:81vh;
    }
    .table-area{
         height: auto;
    }
    .page-title p{
        font-size: 16px;
        font-weight:bold;
    }

    .row-scoped{
        width: 50%;
    }
    .details-main-section{
        height:85vh;
    }
    .btn{
        width:auto;
    }
    .submitBtn{
        width:100%;
    }
    .modal-dialog{
       width:80%;
       margin: auto;
       position:relative;
       top:30%;
   }
   .repayment-container{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
   }
   .repayment-item{
      margin: 6px 0;
   }
   .repayment-btn{
      margin-top:6px;
      padding:0
   }
   .repayment-btn .btn{
       width:100%;
   }
   .reg-form-container{
       width:100%;
       box-shadow:none;
    }
   .mycards-section{
      display:flex;
      margin-top: 0;
   }
   .myrow{
      display: flex;
      flex-direction:column;
      width: 100%;
      margin: 8px 0;
   }
   .charts-row{
      display:flex;
      flex-direction:column;

   }
   .services-section{
     margin: 24px auto;
     display:flex;
     flex-direction:column;
     justify-content:center;
   }
   .services-pair{

     display:flex;
   }
   .card{
     width: 100%;
   }
   .carousel-inner {
      width:90%;
      position: relative;
      left:5%;
   }

   .why-container{
       display:flex;
       flex-direction:column;
   }
   .why-section{
        height:auto;
   }
   .reviews-section{
        height:auto;
   }
   .why-container img {
       width: 90%;
       position:relative;
       left:5%;
       margin-bottom: 12px;
       height: 300px;
   }
   .mission-container {
        display: flex;
        flex-direction:column;
   }
   .location-container {
       display: flex;
       flex-direction:column;
   }
   .img-container img {
       width: 100%;
   }
   .loan-item-container{
       display:flex;
       flex-direction:column;
       justify-content: center;
   }
   .loan-item {
       width: 120px;
       margin: 12px;
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .loan-item p {
      font-size: 14px;
      font-weight: bold;
      color: #09AA5C;
   }
   .loan-item .icon {
       width: 80px;
       height:80px;
       border-radius: 40px;
   }
   .loan-item .icon i {
     font-size: 48px;
   }
   .individual-container, .group-container, .corporate-container{
       display:flex;
       flex-direction:column;
   }
   .membership-image-container {
      display: flex;
      justify-content: center;
   }
   .membership-container{
       display:flex;
       flex-direction:column;
  }
   .requirement-container{
       width: auto;
   }
   .mission-img{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .mission-img img {
    margin-right:0;
    display:none;
   }
   /*.icon-container i {
        font-size: 64px;
   }
   .requirement-container p{
        font-size: 12px;
   }
   .requirement-container h6{
        font-size: 14px;
   }*/
    .short-term-loans{
       display:flex;
       flex-direction:column;
    }
    .loan-type-container {
        margin-top: 12px;

    }
    .loan-type-container .icon i {
        font-size: 80px;
    }
    .contact-form-container{
        display-flex;
        flex-direction:column;
    }
    .contact-info-container {
        width: 100%;
    }
    .contact-input-pair {
        display: flex;
        flex-direction:column;
        margin-right: 1rem;
    }
    .downloads-main-container{
        display:flex;
        flex-direction: column;
    }
    .downloads-container {
        width:auto;
    }
    .join-container {
        width:auto;
    }
    .logoutBtn{
       position: absolute;
       top: 80px;
       right: 1px;
       height: 60px;
    }
    .menu-collapse:not(.show) {
        display: block;
        position: absolute;
        right: 15%;
        top: 20px;
    }
   .dropdown-toggle i{
        display:none;
   }

}

@media only screen and (min-width: 576px) and (max-width:600px){
    .contribution-box{
        margin:4px;
        padding:4px;
        border-radius: 6px;
        background-color:#09AA5C;
        display:flex;
        flex-direction:column;
    }
    .contribution-box span {
        margin: 2px;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
    .add-contribution-main{
         height:81vh;
     }
    .card-text{
        font-size:12px;
    }
    .applied-table-area{
         height:74vh;
    }
    .card-section{
        margin-top:1rem;
        margin-bottom:1rem;
        display:flex;
    }
    .cards-row{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .col-sm-3{
        width:auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mycards-section{
        display:flex;
        margin-top: 0;
    }
    .myrow{
        display: flex;
        flex-direction:column;
        width: 100%;
        margin: 8px 0;
    }
    .services-section{
       margin: 24px auto;
       display:flex;
   }
   .services-pair{
        width:100%;
       display:flex;
   }
    .mission-container {
       display: flex;
       flex-direction:column;
   }
   .location-container {
       display: flex;
       flex-direction:column;
   }
   .img-container img {
       width: 100%;
   }
   .loan-item-container{
       display:flex;
       flex-direction:column;
       justify-content: center;
   }
   .loan-item {
      width: 120px;
      margin: 12px;
      text-align: center;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
   }
   .loan-item p {
      font-size: 14px;
      font-weight: bold;
      color: #09AA5C;
   }
   .loan-item .icon {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .loan-item .icon i {
     font-size: 48px;
   }

    .contact-form-container{
        display-flex;
        flex-direction:column;
    }
    .contact-info-container {
        width: 100%;
    }
    .downloads-main-container{
        display:flex;
        flex-direction: column;
    }
    .downloads-container {
        width:auto;
    }
    .join-container {
        width:auto;
    }
    .menu-collapse:not(.show) {
        display: block;
        position: absolute;
        right: 15%;
        top: 20px;
    }



}

@media only screen and (min-width: 600px) and (max-width:768px){
    .menu-toggler{
        display:block;
        transition: 0.5s;
        position: absolute;
        right: 12px;
        top: 22px;
    }
    .img-container{
        margin-right:0;
    }
    .contribution-box{
        margin:4px;
        padding:4px;
        border-radius: 6px;
        background-color:#09AA5C;
        display:flex;
        flex-direction:column;
    }
    .contribution-card i {
        font-size: 36px;
    }
    .sidebar-container{
            display:none;
        }
    .sidebar{
        width:100%;
        height:100%;
    }
    .card-section{
        margin-top:1rem;
        margin-bottom:1rem;
        display:flex;
    }
    .account-container {
        width:70%;
        position:relative;
        left:15%;
    }
    .mycards-section{
        display:flex;
        margin-top: 0;
    }
    .myrow{
        display: flex;
        flex-direction:column;
        width: 100%;
        margin: 8px 0;
    }
    .hide-md{
         display: none;
    }
    .input-row{
        width:100%;
    }

    .add-contribution-main{
        height:81vh;
    }
    .mission-img{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .mission-img img {
    margin-right:0;
    display:none;
   }
    .cards-row{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .col-sm-3{
        width:auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .card-text{
        font-size:12px;
    }
    .left-icon{
        width: 20px;
        height: 20px;
    }
    .one-row-item{
         padding:8px 0;
     }

    .page-title p{
         font-size: 24px;
         padding:0;
     }
    .applied-table-area {
         height:73vh;
    }
    .approved-table-area{
        height:78vh;
    }
    .members-table-area,{
         height: 74vh;
    }
    .details-main-section{
        height:84vh;
    }
    /*.contribution-card{
        background-color:#09AA5C;
        display:flex;
        flex-direction:column;
        margin: 8px;
        padding: 8px;
    }*/
    .form-container{
        width: 60%;
    }
    .contribution-card span{
        font-size: 16px;
    }

    .submitBtn{
        width:100%;
    }
    .modal-dialog{
       width:40%;
       margin: auto;
       position:relative;
       top:30%;
   }
   .repayment-container{
       display:flex;
       justify-content:space-between;
   }
   .repayment-item{
        display:flex;
        flex-direction:column;
   }
   .repayment-item span{
        font-size:16px;
   }
   .services-section{
      margin: 24px auto;
      display:block;
   }
   .services-pair{
      width:100%;
      display:flex;
   }
   .carousel-inner {
     width:60%;
     position: relative;
     left:20%;
   }
   .why-container{
    display:flex;
    flex-direction:column;
   }
   .why-section{
    height:auto;
   }
   .reviews-section{
     height:auto;
   }
    .why-container img {
         width: 90%;
         position:relative;
         left:5%;
         margin-bottom: 12px;
         height: 300px;
    }
    .mission-container {
        display: flex;
        flex-direction:column;
    }
    .location-container {
       display: flex;
       flex-direction:column;
   }

    .img-container img {
        width: 100%;
    }
    .loan-item-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    .loan-item {
       width: 120px;
       margin: 12px;
       text-align: center;
   }
   .loan-item p {
       font-size: 18px;
       font-weight: bold;
       color: #09AA5C;
   }
   .loan-item .icon {
       width: 120px;
       border-radius: 60px;
   }
   .loan-item .icon i {
      font-size: 64px;
   }
   .individual-container, .group-container, .corporate-container{
      display:flex;
      flex-direction:column;
   }
   .membership-image-container {
       display: flex;
       justify-content: center;
   }
   .membership-container{
        display:flex;
        flex-direction:column;
   }
   .requirement-container{
        width: 100%;
   }
    .short-term-loans{
       display:flex;
       flex-direction:column;
   }
   .loan-type-container {
        margin-top: 12px;
        height:200px;
   }
   .contact-form-container{
        display-flex;
        flex-direction:column;
   }
    .contact-info-container {
        width: 100%;
    }
    .downloads-main-container{
        display:flex;
        flex-direction: column;
    }
    .downloads-container {
        width:auto;
    }
    .join-container {
        width:auto;
    }
    .logoutBtn{
       position: absolute;
       top: 80px;
       right: 1px;
       height: 60px;
    }
   .logoutBtn .card-title{
        display:none;
   }
   .menu-collapse:not(.show) {
        display: block;
        position: absolute;
        right: 15%;
        top: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width:992px){
    .menu-toggler{
        display:block;
        transition: 0.5s;
        position: absolute;
        right: 12px;
        top: 22px;
    }
    .mission-img {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .mission-img img{
        display:none;
    }
    .account-container {
        width:60%;
        position:relative;
        left:20%;
    }
    .sidebar-container{
        width:100%;
        background-color:#198754;
        display:none;
    }
    .page-title p{
        font-size: 42px;
        font-weight:bold;
        padding:12px 0;
    }
    .sidebar{
        height:auto;
        width: 100%;
    }
    .main-section{
        width:100%;
    }
    .card-icon{
        font-size:16px;

    }
    .contribution-box{
        margin:4px;
        padding:4px;
        border-radius: 6px;
        background-color:#09AA5C;
        display:flex;
    }
    .card-title{
        font-size: 16px;
        margin:0 12px;
    }
    .input-row{
        width:90%;
    }
    .input-row input {
        font-size:24px;
        margin:2rem 0;
    }
    .input-row button{
        font-size:24px;
    }
    .input-row select{
        font-size:24px;
    }
    .form-container{
        width: 35%;
    }
    .reg-form-container{
             width:60%;
         }
    .add-contribution-main{
        height:81vh;
    }
    /*.table-area{
       height:auto;
     }*/
    .one-row-item{
         padding:10px 0;
     }

    .cards-row{
        margin: 1rem 0;
    }
    .card-text{
        font-size:12px;
    }
    .page-title p{
        font-size: 24px;
    }
    .contribution-table-area{
         height:63vh;
    }
    .applied-table-area {
         height:73vh;
    }
    .approved-table-area{
        height:78vh;
      }
    .details-main-section{
        height:84vh;
    }

    /*.contribution-card{
        background-color:#09AA5C;
        display:flex;
        flex-direction:column;
        margin: 8px;
        padding: 8px;
    }*/

    .contribution-card span{
        font-size: 16px;
    }

    .submitBtn{
        width:100%;
    }
    .modal-dialog{
       width:30%;
       margin: auto;
       position:relative;
       top:30%;
   }
   .repayment-container{
       display:flex;
       justify-content:space-between;
   }
   .services-section{
       margin: 24px auto;
       display:block;
   }
   .services-pair{
       width:100%;
       display:flex;
   }
   .carousel-inner {
       width:50%;
       position: relative;
       left:25%;
   }
   .mission-container {
       display: flex;
       flex-direction:column;
   }

   .loan-item-container{
       display:flex;
       flex-direction:column;
       justify-content: center;
   }
   .loan-item {
      width: 120px;
      margin: 12px;
      text-align: center;
  }
  .loan-item p {
      font-size: 18px;
      font-weight: bold;
      color: #09AA5C;
  }
  .loan-item .icon {
      width: 120px;
      border-radius: 60px;
  }
  .loan-item .icon i {
     font-size: 64px;
  }
  .membership-image-container img {
      width: 240px;
  }
  /*.icon-container i, .material-symbols-outlined {
      font-size: 120px;
  }*/
  .requirement-container p{
      font-size: 14px;
  }
  .short-term-loans{
       display:flex;
       flex-direction:column;
   }
   .loan-type-container {
    margin-top: 12px;
   }
   .logoutBtn{
       position: absolute;
       top: 80px;
       right: 1px;
       height: 60px;
   }
   .logoutBtn .card-title{
        display:none;
   }
   .menu-collapse:not(.show) {
       display: block;
       position: absolute;
       right: 15%;
       top: 20px;
   }


}

@media only screen and (min-width:992px) and (max-width:1200px){

    .card-title{
        visibility:hidden;
    }
    .card-icon{
        font-size:24px;
    }
    .sidebar-container{
        display:block;
        background-color:#198754;
        width:10%;
    }

    .sidebar{
        width:10%;
    }
    .main-section{
        width:90%;
    }
    .page-title p{
         font-size: 28px;
         font-weight:bold;
     }

    .input-row{
         width:40%;
    }
    .input-row:nth-child(1){
        padding-bottom: 3rem;
    }
    .input-row input {
        font-size: 24px;
        margin: 2rem 0;
    }

    .form-container{
        width: 40%;
    }
    .reg-form-container{
             width:50%;
         }
    .main-body{
        height: 84vh;
    }
    .reg-main{
             height:85vh;
         }
    .add-contribution-main{
        height:85vh;
    }
   /* .table-area{
      height:69vh;
    }*/
    .one-row-item{
        padding:10px 0;
    }
    .contribution-table-area{
         height:65vh;
    }
   .applied-table-area{
      height:75vh;
  }
  .approved-table-area{
    height:78vh;
  }
   .members-table-area,{
        height: 74vh;
   }
   .details-main-section{
       height:84vh;
   }



   /*.contribution-card{
       background-color:#09AA5C;
       display:flex;
       flex-direction:column;
       margin: 8px;
       padding: 12px;
   }*/

   .contribution-card span{
       font-size: 16px;
   }

   .submitBtn{
       width:100%;
   }
   .modal-dialog{
       width:25%;
       margin: auto;
       position:relative;
       top:30%;
   }
   .repayment-container{
       display:flex;
       justify-content:space-between;
   }
   .item span {
       font-size: 16px;
   }
   .logoutBtn{
       position:absolute;
       bottom:2px;
       width:10%;
   }


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .members-table-area,{
        height: 74vh;
    }
    .submitBtn{
        width:100%;
    }
    .repayment-container{
        display:flex;
        justify-content:space-between;
    }

    .sidebar-container{
            display:block;
            background-color:#198754;
            width: 20%;
        }
    .main-section{
        width:80%;

    }
    .dashboard-main{
        height:105vh;
    }

    .page-title p{
        font-size: 28px;
        font-weight:bold;
        }
    .input-row{
        width:30%;
    }
    .column-container{
        display:flex;
        justify-content:center;
    }

    .main-body{
        height: 83vh;
    }
    .reg-main{
        height:86vh;
    }
    .add-contribution-main{
        height:85vh;
    }

    .one-row-item{
        padding:12px 0;
    }
    .input-row input {
        font-size: 24px;
        margin: 2rem 0;
    }
    .input-row select {
        font-size: 24px;
        margin: 2rem 0;
    }
    .contribution-table-area{
         height:65vh;
    }
    .applied-table-area{
        height:74vh;
    }
    .approved-table-area{
        height: 78vh;
    }
    .details-main-section{
        height:84vh;
    }

    /*.contribution-card{
        background-color:#09AA5C;
        display:flex;
        margin: 8px;
        padding: 12px;
        height:80px;
        align-items:center
    }*/
    .form-container{
        width: 35%;
    }
    .reg-form-container{
        width:50%;
    }
    .contribution-card span{
        font-size: 20px;
        font-weight: bold;
    }

    .modal-dialog{
        width:20%;
        margin: auto;
        position:relative;
        top:30%;
    }
    .item span {
        font-size: 16px;
    }
    .account-container{
        width: 30%;
        position:relative;
        left:35%;
    }

}

@media only screen and (max-width:1360px){




}

@media only screen and (min-width:1360px){
    .input-row{
            width:30%;
        }
    .column-container{
        display:flex;
        justify-content:center;
    }
    .main-body{
        height: 85vh;
    }
    .reg-main{
        height:86vh;
    }
    .btn{
        width:auto;
        font-size: 16px;
    }
    .submitBtn{
        width:100%;
    }
    .reg-form-container{
         width:40%;
    }
    .account-container{
        width: 30%;
        position:relative;
        left:35%;
    }
    .carousel-item img {
         width: 90%;
         height: 100%;
         position:relative;
         left:5%;
     }

}

@media only screen and (min-width:1404px){
    /*.table-area{
        height: 70vh;
    }*/
    .account-container{
        width: 30%;
        position:relative;
        left:35%;
    }
    .members-table-area{
         height:74vh;
    }

    .contribution-table-area{
             height:68vh;
        }
    .applied-table-area {
        height:76vh;
    }
    .approved-table-area{
        height:78vh;
      }

    .form-container{
        width: 30%;
    }
    .carousel-item img {
         width: 70%;
         height: 100%;
         position:relative;
         left:15%;
     }
}


