<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sojrel Sacco Ltd</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">-->
    <link href="https://db.onlinewebfonts.com/c/1bc63305a1c0194a52fbbd76c1143710?family=CenturyGothic-Regular" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>

</head>
<body>
<div id="navbar-container" th:insert="~{base :: navbar}"></div>
<div class="container-fluid body-section">
    <div class="row">
        <div th:insert="~{base :: sidebar}" class="sidebar-container col-md-3 col-lg-2 p-0" id="sidebar-container"></div>
        <div class="col-md-10 main-section">
            <div class="page-title">
                <span>Members Contributions</span>
            </div>
            <div class="mb-3 card-holder">
                <div class="col text-light rounded-2 contribution-card">
                    <div class="col d-flex contribution-detail">
                        <span>TOTAL</span>
                        <span th:text="${total_contributions}!=null?${'Ksh '+ #numbers.formatDecimal(total_contributions, 0, 'COMMA', 0, 'POINT')}:'KES 0.00'"></span>
                    </div>
                    <div class="text-light">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col contribution-card text-light rounded-2">
                    <div class="col d-flex contribution-detail">
                        <span>SAVINGS</span>
                        <span th:text="${savings}!=null?${'Ksh '+ #numbers.formatDecimal(savings,0, 'COMMA', 0, 'POINT')}:'Ksh 0.00'"></span>
                    </div>
                    <div class="text-light">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>

                </div>
                <div class="col contribution-card text-light rounded-2">
                    <div class="col d-flex contribution-detail">
                        <span>SHARES</span>
                        <span th:text="${shares}!=null?${'Ksh '+#numbers.formatDecimal(shares, 0, 'COMMA', 0, 'POINT')}: 'KES 0.00'"></span>
                    </div>
                    <div class="text-light">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    </div>

                </div>
            </div>
            <div class="container mt-4 contribution-table-area">
                <div class="table-responsive table-responsive-sm">
                    <table class="table" id="contributions-table" style="width:100%;">
                        <thead>
                            <th>SN</th>
                            <th>Member No.</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                        <tr th:each="contribution: ${contributions}">
                            <td data-label="SN" th:text="${contribution.id}"></td>
                            <td data-label="Member No." th:text="${contribution.memberId}"></td>
                            <td data-label="Name" th:text="${contribution.firstName} +' ' +${contribution.midName}"></td>
                            <td data-label="Date" th:text="${#temporals.format(contribution.contributionDate, 'dd MMM yyyy')}"></td>
                            <td data-label="Type" th:text="${contribution.contributionType}"></td>
                            <td data-label="Amount" th:text="'Ksh '+${#numbers.formatDecimal(contribution.amount, 0, 'COMMA', 0, 'POINT')}"></td>
<!--                            #numbers.formatDecimal(2514550, 0, 'COMMA', 2, 'POINT')-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{base :: footer}">  </div>
<script src="main.js" type="text/javascript"></script>
<script>
    $(document).ready( function () {
        new DataTable("#contributions-table", {
            processing:true,
            pagingType:'simple_numbers'
        });
    });
</script>
</body>
</html>
