<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flash loans</title>
  <link th:fragment="icon" rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--  <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">-->
  <link href="https://db.onlinewebfonts.com/c/1bc63305a1c0194a52fbbd76c1143710?family=CenturyGothic-Regular" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<div id="navbar-container" th:insert="~{base :: navbar}"></div>
<div class="container-fluid body-section">
  <div class="row">
    <div th:insert="~{base :: sidebar}" class="sidebar-container col-md-3 col-lg-2 p-0" id="sidebar-container"></div>
    <div class="col-md-10 main-section">
      <div class="page-title">
        <span>Approved Flash Loans</span>
      </div>
      <div class="container-fluid mt-4 members-table-area">
        <div class="table-responsive table-responsive-sm">
          <table class="table" id="flash_table" style="width:100%">
            <thead>
            <th>ID</th>
            <th class="hide-md">Member No.</th>
            <th class="hide-md">Principal</th>
            <th class="hide-md">Date Applied</th>
            <th>Amount Due</th>
            <th>Date Due</th>
            <th class="d-flex justify-content-center">Repayment</th>
            </thead>
            <tbody>
            <tr th:each="flash:${flashLoans}">
              <td data-label="ID" th:text="${flash.id}"></td>
              <td class="hide-md" data-label="Member No." th:text="${flash.memberId}"></td>
              <td class="hide-md" data-label="Principal" th:text="${flash.principal}"></td>
              <td class="hide-md" data-label="Date Applied" th:text="${#temporals.format(flash.applicationDate,'dd MMM yyyy')}"></td>
              <td data-label="Amount Due" th:text="${flash.amount}"></td>
              <td data-label="Date Due" th:text="${#temporals.format(flash.repayDate, 'dd MMM yyyy')}"></td>
              <td>
                  <a th:href="@{/flash-approved-details(id=${flash.id})}" class="text-decoration-none"><button class="btn btn-success">View</button></a>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="main.js" type="text/javascript"></script>
<div th:insert="~{base :: footer}">  </div>
<script>
        $(document).ready( function () {
            var table = $("#flash_table").DataTable({
            });
        });
    </script>

</body>
</html>

<!--private Long id;
    private double principal;
    private LocalDateTime applicationDate;
    private LocalDateTime repayDate;
    private String loanStatus;
    private double amount;
    private String memberId;-->