<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
      <div class="container-fluid text-light bg-dark d-flex p-2">
        <h2>Sojrel Sacco Members</h2>
      </div>
      <hr>
      <div class="container pt-5">
          <table class="table" id="members_table">
              <thead>
                <th>Member No.</th>
                <th>First Name</th>
                <th>Mid Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>ID No.</th>
                <th>Residence</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr th:each="member:${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.firstName}"></td>
                    <td th:text="${member.midName}"></td>
                    <td th:text="${member.lastName}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.phone}"></td>
                    <td th:text="${member.idNo}"></td>
                    <td th:text="${member.residence}"></td>
                    <td><button class="btn btn-success" style="width:100%;">View</button></td>
                </tr>
              </tbody>
          </table>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>
      <script>
        $(document).ready( function () {
            var table = $("#members_table").DataTable({
                columnDefs: [
                    { orderable: false, targets: 8,}
                ]
            });
        });
    </script>

</body>
</html>