<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sojrel Sacco Ltd</title>
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>
</head>
<body>
    <div th:insert="~{base :: navbar}"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:insert="~{base :: sidebar}" class="sidebar-container col-md-2 col-lg-2 p-0" id="sidebar-container"></div>
            <div class="col-md-10 main-section">
                <span class="d-flex justify-content-center mt-3 text-success">Member Details</span>
                <hr>
                <table class="table" id="details-table">
                    <tbody>
                        <tr>
                            <th scope="row row-scoped" style="width:40%">Member ID</th>
                            <td th:text="${member.id}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">Name:</th>
                            <td th:text="${member.firstName+' '+member.midName+' '+member.lastName}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">Registration Date:</th>
                            <td th:text="${#temporals.format(member.regDate,'dd MMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">ID No:</th>
                            <td th:text="${member.idNo}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">Date of Birth:</th>
                            <td th:text="${#dates.format(member.dob,'dd MMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">Email:</th>
                            <td th:text="${member.email}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">Phone Number:</th>
                            <td th:text="${member.phone}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">KRA Pin:</th>
                            <td th:text="${member.kraPin}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">Address:</th>
                            <td th:text="${member.address}"></td>
                        </tr>
                        <tr>
                            <th scope="row row-scoped">Residence:</th>
                            <td th:text="${member.residence}"></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <span class="d-flex justify-content-center">Contributions</span>
                <hr>
                <div class="container guarantor-table-area mt-4">
                    <div class="table-responsive table-responsive-sm">
                        <table class="table" id="member-contributions-table" style="width:100%;">
                            <thead>
                                <th>ID.</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Amount</th>
                            </thead>
                            <tbody>
                            <tr th:each="contribution: ${member.contributions}">
                                <td data-label="ID:" th:text="${contribution.id}"></td>
                                <td data-label="Date:" th:text="${#temporals.format(contribution.contributionDate,'dd MMM yyyy')}"></td>
                                <td data-label="Contribution Type:" th:text="${contribution.contributionType}"></td>
                                <td data-label="Amount:" th:text="${contribution.amount != null? 'Ksh '+ contribution.amount: 'Ksh 0'}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>
                <span class="d-flex justify-content-center">Loans</span>
                <hr>
                <div class="container guarantor-table-area mt-4">
                    <div class="table-responsive table-responsive-sm">
                        <table class="table" id="member-loans-table" style="width:100%;">
                            <thead>
                            <th>Loan ID.</th>
                            <th>Type</th>
                            <th>Principal</th>
                            <th>Instalments</th>
                            <th>Amount</th>
                            <th class="hide-md">Interest</th>
                            <th>Status</th>
                            </thead>
                            <tbody>
                            <tr th:each="loan: ${member.loansTaken}">
                                <td data-label="Loan ID:" th:text="${loan.id}"></td>
                                <td data-label="Type:" th:text="${loan.loanType}"></td>
                                <td data-label="Principal:" th:text="${'Ksh '+loan.principal}"></td>
                                <td data-label="Instalments:" th:text="${loan.instalments}"></td>
                                <td data-label="Amount:" th:text="${loan.amount}"></td>
                                <td data-label="Interest:" th:text="${loan.interest}" class="hide-md"></td>
                                <td data-label="Status:" th:text="${loan.loanStatus}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>
                <span class="d-flex justify-content-center">Loans Guaranteed</span>
                <hr>
                <div class="container guarantor-table-area mt-4">
                    <div class="table-responsive table-responsive-sm">
                        <table class="table" id="member-guarantee-table" style="width:100%;">
                            <thead>
                                <th>Loan ID.</th>
                                <th>Type</th>
                                <th>Principal</th>
                                <th>Instalments</th>
                                <th>Amount</th>
                                <th class="hide-md">Interest</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                            <tr th:each="guarantee: ${member.loansGuaranteed}">
                                <td data-label="Loan ID:" th:text="${guarantee.id}"></td>
                                <td data-label="Type:" th:text="${guarantee.loanType}"></td>
                                <td data-label="Principal:" th:text="${'Ksh '+guarantee.principal}"></td>
                                <td data-label="Instalments:" th:text="${guarantee.instalments}"></td>
                                <td data-label="Amount:" th:text="${guarantee.amount}"></td>
                                <td data-label="Interest:" th:text="${guarantee.interest}" class="hide-md"></td>
                                <td data-label="Status:" th:text="${guarantee.loanStatus}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div th:insert="~{base :: footer}">  </div>
    <script src="main.js" type="text/javascript"></script>
</body>
</html>

<!--
private String id;
private String firstName;
private String midName;
private String lastName;
private LocalDateTime regDate;
private Long idNo;
private Date dob;
private String email;
private String phone;
private String kraPin;
private String gender;
private String residence;
private String address;
private List<Contribution> contributions;
private List<Loan> loansTaken;
private List<Loan> loansGuaranteed;-->