<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sojrel Sacco Ltd</title>
    <link th:fragment="icon" rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">-->
    <link href="https://db.onlinewebfonts.com/c/1bc63305a1c0194a52fbbd76c1143710?family=CenturyGothic-Regular" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>
</head>
<body>
    <div id="navbar-container" th:insert="~{base :: navbar}"></div>
    <div class="row body-section">
        <div th:insert="~{base :: sidebar}" class="sidebar-container col-lg-2 p-0" id="sidebar-container"></div>
        <div class="my-section col-lg-10">
            <span id="results"></span>
            <span class="d-flex justify-content-center mt-3 text-success fs-3 fw-bold">Member Details</span>
            <hr class="border-2 border-success">
            <table class="table" id="details-table">
                <tbody>
                    <tr>
                        <th scope="row row-scoped" style="width:40%">Member ID</th>
                        <td th:text="${member.id}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">Name:</th>
                        <td th:text="${member.firstName+' '+member.midName+' '+member.lastName}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">Registration Date:</th>
                        <td th:text="${#temporals.format(member.regDate,'dd MMM yyyy')}"></td>
                    </tr>
                    <tr th:if="${member.idNo} != null">
                        <th scope="row row-scoped">ID No:</th>
                        <td th:text="${member.idNo}"></td>
                    </tr>
                    <tr th:if="${member.dob}!=null">
                        <th scope="row row-scoped">Date of Birth:</th>
                        <td th:text="${#dates.format(member.dob,'dd MMM yyyy')}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">Email:</th>
                        <td th:text="${member.email}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">Phone Number:</th>
                        <td th:text="${member.phone}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">KRA Pin:</th>
                        <td th:text="${member.kraPin}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">Address:</th>
                        <td th:text="${member.address}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">Residence:</th>
                        <td th:text="${member.residence}"></td>
                    </tr>
                    <tr>
                        <th scope="row row-scoped">Registration Fee:</th>
                        <td th:text="${totalFee!=null ? 'Ksh '+totalFee: 'Ksh 0.00'}"></td>
                    </tr>
                    <tr th:if="${idFrontPath} !=null">
                        <th scope="row row-scoped">Id Front Image:</th>
                        <td>
                            <a th:href="${idFrontPath}" download>
                                <img th:src="${idFrontPath}" alt="front id image" width="160" height="80">
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${idBackPath}!=null">
                        <th scope="row row-scoped">ID Back Image:</th>
                        <td>
                            <a th:href="${idBackPath}" download>
                                <img th:src="${idBackPath}" alt="back id image" width="160" height="80">
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${kraCertPath} != null">
                        <th scope="row row-scoped">Kra Certificate:</th>
                        <td>
                            <i class="fa fa-paperclip mx-1" aria-hidden="true"></i><a class="text-decoration-none text-dark" th:href="${kraCertPath}" download th:text="${kraCertName}">

                            </a>
                        </td>
                    </tr>
                    <tr th:if="${passportPath} != null">
                        <th scope="row row-scoped">Passport:</th>
                        <td>
                            <a th:href="${passportPath}" download>
                                <img th:src="${passportPath}" alt="passport image" width="120" height="160">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="edit-buttons">
                                <button th:if="${member.idNo == null}" class="button btn m-1" data-bs-toggle="modal" data-bs-target="#groupRegistrationModal">Edit Details</button>
                                <button th:unless="${member.idNo == null}" class="button btn m-1" data-bs-toggle="modal" data-bs-target="#individualRegistrationModal">Edit Details</button>
                                <button class="button btn m-1" data-bs-toggle="modal" data-bs-target="#deactivateModal">Deactivate</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal fade" id="deactivateModal" tabindex="-1" aria-labelledby="deactivateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" style="font-weight:bold; color:orangered;">Member Account Deactivation</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to deactivate this member?</p>
                        </div>
                        <div class="modal-footer" style="flex-wrap: nowrap;">
                            <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                            <form class="m-1 w-100" th:action="@{/deactivate(id=${member.id})}" th:method="post">
                                <button class="button btn" style="background-color: orangered; border-color: orangered;">Deactivate</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

<!--            edit individual member details-->
            <div class="registration-modal modal fade" id="individualRegistrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold" id="exampleModalLabel" style="color:#09AA5C;">Update Member Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid mb-3 reg-form-container">
                                <div class="reg-container m-lg-3 m-md-3">
                                    <!--                                        <div class="d-flex justify-content-center align-items-center py-1">-->
                                    <!--                                            <h3 style="color:#09AA5C;">Individual Member Registration</h3>-->
                                    <!--                                        </div>-->
                                    <form id="individual-registration-form" method="post">
                                        <div class="row input-container">
                                            <div class="col sub-container">
                                                <input type="text" class="form-control" id="memberId" name="id"  th:value="${member.id}" hidden>
                                                <div class="mb-3">
                                                    <label for="firstName" class="form-label">First Name:</label>
                                                    <input type="text" class="form-control" id="firstName" name="firstName"  th:field="${member.firstName}">
                                                    <!--                                                        <span id="fnameMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="midName" class="form-label">Middle Name (optional):</label>
                                                    <input type="text" class="form-control" id="midName" name="midName" th:field="${member.midName}">
<!--                                                    <input type="text" class="form-control" id="midName" name="midName" th:field="${member.midName}">-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="lastName" class="form-label">Last Name:</label>
                                                    <input type="text" class="form-control" id="lastName" name="lastName" th:field="${member.lastName}">
                                                    <!--                                                        <span id="lnameMsg"></span>-->

                                                </div>
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Email:</label>
                                                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" th:field="${member.email}">
                                                    <!--                                                        <span id="emailMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="dob" class="form-label">Date of Birth:</label>
                                                    <input type="date" class="form-control" id="dob" name="dob" th:value="${#dates.format(member.dob, 'yyyy-MM-dd')}">
                                                    <!--                                                        <span id="dobMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="idNo" class="form-label">ID Number:</label>
                                                    <input type="number" class="form-control" id="idNo" name="idNo" th:field="${member.idNo}">
                                                    <!--                                                        <span id="idNoMsg"></span>-->
                                                </div>

                                            </div>
                                            <div class="col sub-container">
                                                <div class="mb-3">
                                                    <label for="kraPin" class="form-label">Kra Pin:</label>
                                                    <input type="text" class="form-control" id="kraPin"  name="kraPin" th:field="${member.kraPin}">
                                                    <!--                                                        <span id="kraPinMsg"></span>-->

                                                </div>
                                                <div class="mb-3">
                                                    <label for="phone" class="form-label">Phone Number:</label>
                                                    <input type="text" class="form-control" id="phone" name="phone" th:field="${member.phone}">
                                                    <!--                                                        <span id="phoneMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="phone1" class="form-label">Alternative Contact:</label>
                                                    <input type="text" class="form-control" id="phone1" name="alternativePhone" th:field="${member.alternativePhone}">
                                                    <!--                                                        <span id="phone1Msg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="gender" class="form-label">Gender</label>
                                                    <select id="gender" name="gender" class="form-control" th:field="${member.gender}">
                                                        <option align="center" value="">Select Gender</option>
                                                        <option value="MALE">MALE</option>
                                                        <option value="FEMALE">FEMALE</option>
                                                    </select>
                                                    <!--                                                        <span id="genderMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="address" class="form-label">Postal Address:</label>
                                                    <input type="text" class="form-control" id="address" name="address" th:field="${member.address}">
                                                    <!--                                                        <span id="addressMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="residence" class="form-label">Residence:</label>
                                                    <input type="text" class="form-control" id="residence" name="residence" th:field="${member.residence}">
                                                    <!--                                                        <span id="residenceMsg"></span>-->
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" id="regsubmitBtn" style="width:auto; margin-bottom:24px;" class="btn submitBtn">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            edit group/business member details-->
            <div class="registration-modal modal fade" id="groupRegistrationModal" tabindex="-1" aria-labelledby="groupRegistrationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold" id="groupRegistrationModalLabel" style="color:#09AA5C;">Update Member Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid pt-2 mt-2 mb-3 reg-form-container">
                                <div class="reg-container m-lg-3 m-md-3">
                                    <form id="group-registration-form" method="post">
                                        <div class="row input-container">
                                            <div class="col sub-container">
                                                <input type="text" class="form-control" id="member_id" name="id"  th:value="${member.id}" hidden>
                                                <div class="mb-3">
                                                    <label for="cfirstName" class="form-label">First Name:</label>
                                                    <input type="text" class="form-control" id="cfirstName" th:field="${member.firstName}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cmidName" class="form-label">Second Name (optional):</label>
                                                    <input type="text" class="form-control" id="cmidName" th:field="${member.midName}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="clastName" class="form-label">Last Name:</label>
                                                    <input type="text" class="form-control" id="clastName" th:field="${member.lastName}">

                                                </div>
                                                <div class="mb-3">
                                                    <label for="cemail" class="form-label">Email:</label>
                                                    <input type="email" class="form-control" id="cemail" aria-describedby="emailHelp" th:field="${member.email}">
                                                </div>

                                            </div>
                                            <div class="col sub-container">
                                                <div class="mb-3">
                                                    <label for="ckraPin" class="form-label">Kra Pin:</label>
                                                    <input type="text" class="form-control" id="ckraPin" th:field="${member.kraPin}">

                                                </div>
                                                <div class="mb-3">
                                                    <label for="cphone" class="form-label">Phone Number:</label>
                                                    <input type="text" class="form-control" id="cphone" th:field="${member.phone}">
                                                    <!--                                                        <span id="phoneMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="caddress" class="form-label">Postal Address:</label>
                                                    <input type="text" class="form-control" id="caddress" th:field="${member.address}">
                                                    <!--                                                        <span id="addressMsg"></span>-->
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cresidence" class="form-label">Physical Address:</label>
                                                    <input type="text" class="form-control" id="cresidence" th:field="${member.residence}">
                                                    <!--                                                        <span id="residenceMsg"></span>-->
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" id="csubmitBtn" style="width:auto; margin-bottom:24px;" class="btn submitBtn">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="d-flex justify-content-center text-success fw-bold">Contributions</span>
            <div class="totals">
                <div class="contribution-box">
                    <span>Total</span>
                    <span th:text="${total} != null ? ${'Ksh '+ #numbers.formatDecimal(total,0, 'COMMA',0, 'POINT')}: 'KES 0.00'"></span>
                </div>
                <div class="contribution-box">
                    <span>Shares</span>
                    <span th:text="${shares}!=null ? ${'Ksh '+#numbers.formatDecimal(shares,0, 'COMMA', 0, 'POINT')}: 'KES 0.00'"></span>

                </div>
                <div class="contribution-box">
                    <span>Savings</span>
                    <span th:text="${savings}!=null?${'Ksh '+#numbers.formatDecimal(savings,0, 'COMMA', 0, 'POINT')}: 'KES 0.00'"></span>
                </div>
                <div class="contribution-btn d-flex align-items-center">
                    <button th:if="${totalFee > 1600 or totalFee == 1600}" class= "contrib-btn btn" data-bs-toggle="modal" data-bs-target="#contribModal">Add Contribution</button>
                    <button th:if = "${totalFee == null or totalFee < 1600}" class="contrib-btn btn" data-bs-toggle="modal" data-bs-target="#feeModal">Add Fee</button>
                </div>
            </div>
            <div class="modal fade" id="contribModal" tabindex="-1" aria-labelledby="contribModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="contribModalLabel">Add Contribution</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="contribution-form" method="post">
                                <div class="mb-3">
                                    <input hidden id="id" th:value="${member.id}">
                                    <div class="mb-3">
                                        <label for="contrib-date" class="form-label">Date:</label>
                                        <input type="date" id="contrib-date" class="form-control">
                                        <span id="contrib-msg"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="type" class="form-label">Contribution Type:</label>
                                        <select class="selection form-control col-2 mb-4" id="type">
                                            <option align="center" value="">----Select Contribution Type----</option>
                                            <option value="SAVINGS">SAVINGS</option>
                                            <option value="SHARES">SHARES</option>
                                        </select>
                                        <span id="type-msg"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="amount" class="form-label">Enter Amount:</label>
                                        <input type="number" id="amount" class="form-control">
                                        <span id="amt-msg"></span>
                                    </div>

                                </div>
                                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="submitBtn" class="btn">Save</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="feeModal" tabindex="-1" aria-labelledby="feeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="feeModalLabel">Add Regsitration Fee</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="fee-form" method="post">
                                <div class="mb-3">
                                    <input hidden id="memId" th:value="${member.id}">
                                    <div class="mb-3">
                                        <label for="pay-date" class="form-label">Date:</label>
                                        <input type="date" id="pay-date" class="form-control">
                                        <span id="pay-msg"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="fee-amount" class="form-label">Enter Amount:</label>
                                        <input type="number" id="fee-amount" class="form-control">
                                        <span id="fee-amt-msg"></span>
                                    </div>

                                </div>
                                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="feeSubmitBtn" class="btn">Save</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <hr class="border-2 border-success">
            <div class="container detail-table-area mt-4">
                <div class="table-responsive table-responsive-sm">
                    <table class="table" id="member-contributions-table" style="width:100%;">
                        <thead>
                            <th>ID.</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                        <tr th:each="contribution: ${member.contributions}">
                            <td data-label="ID:" th:text="${contribution.id}"></td>
                            <td data-label="Date:" th:text="${#dates.format(contribution.contributionDate,'dd MMM yyyy')}"></td>
                            <td data-label="Type:" th:text="${contribution.contributionType}"></td>
                            <td data-label="Amount:" th:text="${contribution.amount != null? 'Ksh '+ #numbers.formatDecimal(contribution.amount, 0, 'COMMA', 0, 'POINT'): 'Ksh 0.00'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="border-2 border-success">
            <span class="d-flex justify-content-center text-success fw-bold">Loans</span>
            <hr class="border-2 border-success">
            <div class="container detail-table-area mt-4">
                <div class="table-responsive table-responsive-sm">
                    <table class="table" id="member-loans-table" style="width:100%;">
                        <thead>
                        <th>Loan ID.</th>
                        <th>Type</th>
                        <th>Principal</th>
                        <th>Instalments</th>
                        <th class="hide-md">Interest</th>
                        <th>Status</th>
                        </thead>
                        <tbody>
                        <tr th:each="loan: ${member.loansTaken}">
                            <td data-label="Loan ID:" th:text="${loan.id}"></td>
                            <td data-label="Type:" th:text="${loan.loanType}"></td>
                            <td data-label="Principal:" th:text="${'Ksh '+#numbers.formatDecimal(loan.principal, 0, 'COMMA', 0, 'POINT')}"></td>
                            <td data-label="Instalments:" th:text="${loan.instalments}"></td>
                            <td data-label="Interest:" th:text="${loan.interest}+'%'" class="hide-md"></td>
                            <td data-label="Status:" th:text="${loan.loanStatus}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr class="border-2 border-success">
            <div class="container guarantee-container">
                <div class="rounded guaranteed-sub-container text-light">
                    <span class="d-flex justify-content-center fw-bold">Total Guaranteed</span>
                    <span class="d-flex justify-content-center fw-bold" th:text="'Ksh '+ ${#numbers.formatDecimal(guaranteed, 0, 'COMMA', 0, 'POINT')}"></span>
                </div>

                <div class="rounded guaranteed-sub-container text-light">
                    <span class="d-flex justify-content-center fw-bold">Guarantee Limit</span>
                    <span class="d-flex justify-content-center fw-bold" th:text="'Ksh '+ ${#numbers.formatDecimal(guaranteeLimit, 0, 'COMMA', 0, 'POINT')}"></span>
                </div>
            </div>



            <span class="d-flex justify-content-center text-success fw-bold">Loans Guaranteed</span>
            <hr class="border-2 border-success">
            <div class="container detail-table-area mt-4">
                <div class="table-responsive table-responsive-sm">
                    <table class="table" id="member-guarantee-table" style="width:100%;">
                        <thead>
                            <th>Loan ID.</th>
                            <th>Type</th>
                            <th>Principal</th>
                            <th>Instalments</th>
                            <th class="hide-md">Interest</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                        <tr th:each="guarantee: ${member.loansGuaranteed}">
                            <td data-label="Loan ID:" th:text="${guarantee.id}"></td>
                            <td data-label="Type:" th:text="${guarantee.loanType}"></td>
                            <td data-label="Principal:" th:text="${'Ksh '+#numbers.formatDecimal(guarantee.principal, 0, 'COMMA', 0, 'POINT')}"></td>
                            <td data-label="Instalments:" th:text="${guarantee.instalments}"></td>
                            <td data-label="Interest:" th:text="${guarantee.interest}+'%'" class="hide-md"></td>
                            <td data-label="Status:" th:text="${guarantee.loanStatus}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
    <div th:insert="~{base :: footer}">  </div>
    <script src="main.js" type="text/javascript"></script>
    <script src="jquery.js" type="text/javascript"></script>


    <script>
        $(document).ready(function(){
            new DataTable("#member-contributions-table", {
                processing:true,
                pagingType:'simple_numbers'
            });
        });

        $(document).ready(function(){
            new DataTable("#member-loans-table", {
                processing:true,
                pagingType:'simple_numbers'
            });
        });

        $(document).ready(function(){
            new DataTable("#member-guarantee-table", {
                processing:true,
                pagingType:'simple_numbers'
            });
        });


         $(document).ready(function () {
            $("#individual-registration-form").submit(function (event) {
                event.preventDefault();
               var originalButtonText = $("#regsubmitBtn").html();
               $("#regsubmitBtn").html('<div class="spinner-border" role="status" id="spinner">' +
                                  '<span class="visually-hidden"></span>' +
                                  '</div> Please wait...');
               var formData = {
                    firstName: $("#firstName").val(),
                    midName: $("#midName").val(),
                    lastName: $("#lastName").val(),
                    email: $("#email").val(),
                    dob: $("#dob").val(),
                    idNo: $("#idNo").val(),
                    kraPin: $("#kraPin").val(),
                    phone: $("#phone").val(),
                    alternativePhone: $("#phone1").val(),
                    gender: $("#gender").val(),
                    address: $("#address").val(),
                    residence: $("#residence").val(),
               }
                console.log(formData);
                $.ajax({
                    contentType : "application/json",
                    dataType : 'json',
                    type: "POST",
                    url: "/edit/" + $("#memberId").val(),
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if(response.status=="success"){
                            $("#regsubmitBtn").html(originalButtonText);
                            $("#results").html('<div style="background-color:#7FA7B0; color:white;padding:12px 0px; text-align:center; width:100%;margin;0;"><p>'+response.message+'</p></div>');
                            $("#results").fadeToggle(3000);
                            location.reload();
                        }
                        else{
                            $("#regsubmitBtn").html(originalButtonText);
                            $("#results").html('<div style="background-color:#7FA7B0; color:white;padding:12px 0px; text-align:center; width:100%;"><p>'+response.message+'</p></div>');
                            $("#results").fadeToggle(3000);
                            location.reload();

                        }
                    },
                    error: function (error) {
                        console.log("Error:", error);
                        $("#regsubmitBtn").html(originalButtonText);
                        $("#results").html('<div style="background-color:#7FA7B0; color:white;padding:12px 0px; text-align:center; width:100%;"><p>Error!</p></div>');
                        $("#results").fadeToggle(3000);
                        $("#individual-registration-form")[0].reset();
                        //$('#individualRegistrationModal').modal('hide');
                    }
                });


            });
        });



        $(document).ready(function () {
            $("#group-registration-form").submit(function (event) {
                event.preventDefault();
               var originalButtonText = $("#regsubmitBtn").html();
               $("#csubmitBtn").html('<div class="spinner-border" role="status" id="spinner">' +
                                  '<span class="visually-hidden"></span>' +
                                  '</div> Please wait...');
               var formData = {
                    firstName: $("#cfirstName").val(),
                    midName: $("#cmidName").val(),
                    lastName: $("#clastName").val(),
                    email: $("#cemail").val(),
                    dob: "",
                    idNo: "",
                    kraPin: $("#ckraPin").val(),
                    phone: $("#cphone").val(),
                    alternativePhone: "",
                    gender: "NONE",
                    address: $("#caddress").val(),
                    residence: $("#cresidence").val(),
               }
                console.log(formData);
                $.ajax({
                    contentType : "application/json",
                    dataType : 'json',
                    type: "POST",
                    url: "/edit/" + $("#member_id").val(),
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if(response.status=="success"){
                            $("#csubmitBtn").html(originalButtonText);
                            $("#results").html('<div style="background-color:#7FA7B0; color:white;padding:12px 0px; text-align:center; width:100%;margin;0;"><p>'+response.message+'</p></div>');
                            $("#results").fadeToggle(3000);
                            location.reload();
                        }
                        else{
                            $("#csubmitBtn").html(originalButtonText);
                            $("#results").html('<div style="background-color:#7FA7B0; color:white;padding:12px 0px; text-align:center; width:100%;"><p>'+response.message+'</p></div>');
                            $("#results").fadeToggle(3000);
                            location.reload();
                        }
                    },
                    error: function (error) {
                        console.log("Error:", error);
                        $("#csubmitBtn").html(originalButtonText);
                        $("#results").html('<div style="background-color:#7FA7B0; color:white;padding:12px 0px; text-align:center; width:100%;"><p>Error!</p></div>');
                        $("#results").fadeToggle(3000);
                        $("#individual-registration-form")[0].reset();
                        //$('#individualRegistrationModal').modal('hide');
                    }
                });


            });
        });
    </script>
</body>
</html>

