<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="icon" rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://db.onlinewebfonts.com/c/1bc63305a1c0194a52fbbd76c1143710?family=CenturyGothic-Regular" rel="stylesheet">
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand d-flex px-2">
        <img class="img bg-light" src="images/logo.png" alt="Logo" height="36px" style="border-radius: 18px;">
        <p class="text-light px-2">Sojrel Sacco</p>
    </div>
</nav>
<div class="container text-success text-align-center d-flex justify-center align-center" style="margin-top:120px">
    <h1>Congratulations, your account has been verified. You can go back to the app and login.</h1>
</div>
<div class="container text-center">
<!--  <h4><a th:href="@{/login}">Click here to Login</a></h4>-->
</div>
</body>
</html>